.container{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

.blog-profile{
    width:50px;
    float: left;
}

.blog-name{
    float:left;
}

.blog-content{
    width:80%;
    height:200px;
    float:left;
}

.blog-img{
    width:20%;
    height:200px;
    float:left;
}

.blog-content-below{
    clear:both;
}

